<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/index.css" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>

    <script>
      function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
      }
    </script>
  </head>

  <body>
    <%- include('header') %>
    <main class="maincontent">
      <div class="sidebar p-4">
        <a href="/"
          ><h5 class="mb-3">
            <i class="fa-solid fa-arrow-left mr-1"></i>Back to Personal
          </h5></a
        >
        <h4><i class="fa-solid fa-filter mr-1"></i>Categories</h4>
        <ul>
          <li>Social</li>
          <li>Entertainment</li>
          <li>Work</li>
          <li>Finance</li>
        </ul>
      </div>

      <section id="allPasswords" class="p-4">
        <h4>My Organization's Passwords</h4>
        <div class="card">
          <div class="card-body">
            <div>
              <p class="name">Website Name</p>
              <span class="userpass">
                <p class="account_name" id="username">Username</p>
                <i
                  class="fa-solid fa-copy ml-2"
                  onclick="copyToClipboard('#username')"
                ></i>
              </span>
              <span class="userpass">
                <p class="password" id="password1">Password</p>
                <i
                  class="fa-solid fa-copy ml-2"
                  onclick="copyToClipboard('#password1')"
                ></i>
              </span>
            </div>
            <div class="action-button">
              <span> <i class="fa-solid fa-eye mr-1"></i>Show </span>
              <span> <i class="fa-solid fa-pen-to-square mr-1"></i>Edit</span>
              <span><i class="fa-solid fa-trash"></i></span>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
