.card {
  border-radius: 10px !important;
}
.card-body {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  box-shadow: 0 2px 5px RGBA(0, 24, 48, 0.2);
  border-radius: 10px !important;
}
.card-body p {
  margin-bottom: 0px;
}
.action-button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.maincontent {
  display: flex;
  flex-direction: row;
}
.sidebar {
  min-width: 250px;
  margin-right: 30px;
  height: 100vh;
  box-shadow: 0 2px 5px RGBA(0, 24, 48, 0.2);
}
.sidebar ul {
  list-style-type: none;
  padding: 0px;
  margin-bottom: 50px;
}

#allPasswords {
  width: 100%;
}
